@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.ps-sidebar-root{
  width: 15% !important;
  min-width: 15% !important;
}
.ps-sidebar-container{
  background-color: #FFF !important;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  width: 100% !important;
}
.ps-active{
  background-color: #005EB8 !important;
  color: #FFF !important;
}
.box-shadow{
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.16);
}

.bigHeader{
  font-size: 24px;
}
.mediumHeader{
  font-size: 18px;
}

.blueButton{
  background-color: #005EB8;
  border: 2px solid #005EB8;
}
.blueButton:hover{
  background-color: #FFF;
  color: black;
  img{
    filter: invert(1);
  }

}